/* Mobile First Media Queries */

/* Base style */
.button-black.button-outline {
  border-color: black;
  color: black;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#centered-title {
  text-align: center
}

#language-selection {
  justify-content: center;
  height: 100vh;
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 10rem;
  font-size: 2.5rem;
  color: royalblue;
  border-bottom: 1px solid black;
  font-weight: bold;
  margin-bottom: 25px;
}

#icon {
  height: 7rem;
  margin: 0 1rem 0 0;
}

#contact-header {
  display: none;
}

#language-button {
  margin: 0 0 0 0.3rem;
  height: 5rem;
  width: 5rem;
  padding: 1rem 1rem 1rem 1rem;
}

#menu {
  display: none;
  position: absolute;
  top: 10rem;
  right: 0;
  width: 15rem;
  padding: 0;
  margin: 0;
}

#menu ul {
  background-color: rgba(65, 105, 225, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
  
#menu li {
  margin: 0;
}

#menu li button {
  background-color: white;
  opacity: 1;
}

#menu li:first-child button {
  margin-top: 1rem;
}

#menu li:last-child button {
  margin-bottom: 1rem;
}

section {
  padding: 0px 20px 0px 20px;
  margin-bottom: 5rem;
}

p {
  margin-bottom: 10px;
}

h3 {
  color: royalblue;
}

blockquote {
  flex-direction: column;
  width: 100%;
}

section blockquote image {
  width: 100%;
}

section blockquote:first-of-type {
  margin-top: 0;
}

section blockquote:last-of-type {
  margin-bottom: 0;
}

h4 .button {
  width: 13rem;
  height: 3.5rem;
  border-color: black;
  background-color: royalblue;
  float: right;
  padding: 0;
}

#contact {
  color: royalblue;
}

.contact-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-div a {
  padding: 0.25rem 1rem 0.25rem 1rem;
  width:fit-content;
  height: fit-content;
  text-transform: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: white;
  border-color: black;
}

.contact-div a img {
  margin: 0 1rem 0 0;
}

/* Larger than mobile screen */
@media (min-width: 40.0rem) {
  section {
    padding: 0px 25vw 0px 25vw;
  }
  #menu {
    top: 0;
  }
}

/* Larger than tablet screen */
@media (min-width: 80.0rem) {
  section {
    padding: 0px 30vw 0px 30vw;
  }
  
  #header {
    justify-content: flex-start;
  }
  
  #icon {
    margin-left: 1rem;
  }

  #contact-header {
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }

  #language-button {
    margin-right: 1rem;
  }

  #menu {
    top: 10rem;
  }

  .contact-div a {
    margin: 0 0.5rem 0 0.5rem;
  }

  #contact {
    display: none;
  }
}

/* Larger than desktop screen */
@media (min-width: 120.0rem) {
  section {
    padding: 0px 35vw 0px 35vw;
  }
}